body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

/* div {
    border: 1px solid white;
} */

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h3 {
    margin: 5px;
}

main {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 600px;
}

/*------------------------------Video styles------------------------------*/

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

#vid {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 600px;
    width: 1400px;
}

/*------------------------------/Video styles------------------------------*/
/*------------------------------Controls styles------------------------------*/

.controls i {
    margin: 0px 5px 0px 5px;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    opacity: 0;
    padding: 15px;
    bottom: 60px;
    border-radius: 50px;
    width: 60%;
    transform: translateY(40px);
    transition: all 500ms ease-in-out;
}

.controls.show {
    opacity: 0.7;
    transform: translateY(0);
}

.right,
.left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left.volume {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#pause-icon {
    display: inline;
}
#play-icon {
    display: none;
}

.quality {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#q-btn {
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

#q-list {
    margin-top: 0px;
    margin-bottom: 0px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.q-option {
    margin: 5px;
    cursor: pointer;
}
